div {
background: url("https://github.com/sstyles/thedogandhisguy/blob/master/BW-7145.jpg?raw=true") top center;
background-size: cover;
  background-attachment: scroll;
}
p {
  color: red;
}
