div {
background: url("https://github.com/sstyles/thedogandhisguy/blob/master/BW-7145.jpg?raw=true") top center;
background-size: cover;
  width: 200px;
  height: 300px;
}
p {
  color: ghostwhite;
  text-align: center;
}
