div {
 border: 2px solid blueviolet;
border-radius: 10px;
}
div.test {
background: url("https://github.com/sstyles/thedogandhisguy/blob/master/BW-7145.jpg?raw=true") no-repeat center center;
background-size: cover;
    height: 100%;
 display: block;
}
div.post {
 background-color: darkslategray;
 width: 30%;
 margin: auto;
}
p {
  color: ghostwhite;
  text-align: center;
  font-size: 18px;
}
p.post-text {
text-align: center;
 font-size: 14px;
 }
